<div class="clair__content-full">
<div class="clair__dashboard-content">
<ngx-charts-number-card
                        [view]="view"
                        [scheme]="scheme"
                        [results]="numbers"
                        cardColor="#232837"
></ngx-charts-number-card>

  <p>Some information and links: Documentation and Website</p>
</div>
<div class="clair__dashboard-content clair__dashboard-content-alt">
  <div class="clair__dashboard-card-group">
    <mat-card (click)="openNewRegistry()" class="clair__dashboard-add-registry">
      <div>
        <p><mat-icon>add</mat-icon><br />
        new registry
        </p>
      </div>
    </mat-card>
    <mat-card class="clair__dashboard-registry" [routerLink]="['/registries', registry.Id]" *ngFor="let registry of registries;">
      <mat-card-title>
        {{registry.Name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{registry.Uri}}
      </mat-card-subtitle>
      <mat-card-content>
        <div>
        <p>{{registry.ContainerCount}}<br />
          <small>Containers</small>
        </p>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <p>{{registry.Credentials.Username || 'anonymous'}}</p>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="clair__dashboard-card-load">
    <p><button (click)="loadNextPageofRegistries()" mat-mini-fab><mat-icon>arrow_drop_down</mat-icon></button></p>
  </div>
</div>
</div>
