<md-card>
  <div class="clair__tab-card-toolbar">
    <button color="primary" md-raised-button>Delete</button>
  </div>
</md-card>

<md-card>
  <md-card-content>
<form (submit)="onSubmit()" [formGroup]="registryForm" novalidate>
  <p>
    <md-input-container>
      <input mdInput placeholder="Name" formControlName="name">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Description" formControlName="description">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Uri" formControlName="uri">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Username" formControlName="username">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput placeholder="Password" formControlName="password">
    </md-input-container>
  </p>
</form>
  </md-card-content>
  <md-card-actions>
    <p class="clair__modal-buttons">
      <button type="submit" color="primary" md-raised-button>Save</button>
    </p>
  </md-card-actions>
</md-card>
