<mat-card>
  <div class="clair__tab-card-toolbar">
    <button color="primary" mat-raised-button>Delete</button>
  </div>
</mat-card>

<mat-card>
  <mat-card-content>
<form (submit)="onSubmit()" [formGroup]="registryForm" novalidate>
  <p>
    <mat-input-container>
      <input matInput placeholder="Name" formControlName="name">
    </mat-input-container>
  </p>
  <p>
    <mat-input-container>
      <input matInput placeholder="Description" formControlName="description">
    </mat-input-container>
  </p>
  <p>
    <mat-input-container>
      <input matInput placeholder="Uri" formControlName="uri">
    </mat-input-container>
  </p>
  <p>
    <mat-input-container>
      <input matInput placeholder="Username" formControlName="username">
    </mat-input-container>
  </p>
  <p>
    <mat-input-container>
      <input matInput placeholder="Password" formControlName="password">
    </mat-input-container>
  </p>
</form>
  </mat-card-content>
  <mat-card-actions>
    <p class="clair__modal-buttons">
      <button type="submit" color="primary" mat-raised-button>Save</button>
    </p>
  </mat-card-actions>
</mat-card>
