<md-toolbar color="accent">
  <span>Registries</span>
</md-toolbar>
<md-tab-group>
  <md-tab label="All" color="primary">

    <div class="clair__tab-content">
      <md-card>
        <div class="clair__tab-card-toolbar">
          <button color="primary" (click)="openDialog()" md-raised-button>New</button>
        </div>
        <ng2-md-datatable>
          <ng2-md-datatable-header>
            <ng2-md-datatable-column sortValue="Registry">Registry</ng2-md-datatable-column>
            <ng2-md-datatable-column sortValue="Uri">Uri</ng2-md-datatable-column>
            <ng2-md-datatable-column sortValue="User">User</ng2-md-datatable-column>
          </ng2-md-datatable-header>
          <tbody>
          <ng2-md-datatable-row class="selectable" [routerLink]="[registry.Id]" *ngFor="let registry of registries;" selectableValue="{{registry.Id}}">
            <td>{{registry.Name}}</td>
            <td>{{registry.Uri}}</td>
            <td>{{registry.Credentials.Username}}</td>
          </ng2-md-datatable-row>
          </tbody>
        </ng2-md-datatable>
        <ng2-md-datatable-pagination
          [currentPage]="1"
          [itemsPerPage]="10"
          [itemsCount]="pagination.Pages"
          [itemsPerPageChoices]="[10,20,50]"
          [itemsPerPageFirstChoice]="10"
        >
        </ng2-md-datatable-pagination>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
