<md-toolbar color="accent">
  <span>{{registry.Name}}</span>
</md-toolbar>
<md-tab-group>
  <md-tab label="Summary" color="primary">
    <div class="clair__tab-content">
      <ul>
        <li>Count of containers and reports.</li>
        <li>Total vulnerabilities over time span of last 6 months shown month by month.</li>
        <li>Top 10 images ranked by high vulnerability count</li>
        <li>10 latest reports</li>
      </ul>
      <app-registry-dashboard></app-registry-dashboard>
    </div>
  </md-tab>
  <md-tab label="Containers" color="primary">
    <div class="clair__tab-content">

      <app-registry-containers></app-registry-containers>

    </div>
  </md-tab>
  <md-tab label="Information" color="primary">
    <div class="clair__tab-content">

      <app-registry-detail></app-registry-detail>

    </div>
  </md-tab>
</md-tab-group>
