<mat-toolbar color="accent">
  <span>{{registry.Name}}</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Summary" color="primary">
    <div class="clair__tab-content">
      <ul>
        <li>Count of containers and reports.</li>
        <li>Total vulnerabilities over time span of last 6 months shown month by month.</li>
        <li>Top 10 images ranked by high vulnerability count</li>
        <li>10 latest reports</li>
      </ul>
      <app-registry-dashboard></app-registry-dashboard>
    </div>
  </mat-tab>
  <mat-tab label="Containers" color="primary">
    <div class="clair__tab-content">

      <app-registry-containers></app-registry-containers>

    </div>
  </mat-tab>
  <mat-tab label="Information" color="primary">
    <div class="clair__tab-content">

      <app-registry-detail></app-registry-detail>

    </div>
  </mat-tab>
</mat-tab-group>
