<mat-toolbar color="accent">
  <span>Container > {{container.Image}}</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Information" color="accent">

    <div class="clair__tab-content">
      <mat-card>
        <div class="clair__tab-card-toolbar">
          <button color="primary" mat-raised-button>Delete</button>
        </div>
        <p>Description</p>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Tags" color="accent">

    <div class="clair__tab-content">
      <mat-card>
        <div class="clair__tab-card-toolbar">
          <button color="primary" mat-raised-button>New</button>
        </div>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>


