<div class="clair__nav">
<div class="clair__title">
  <div class="clair__nav-item">
  <div class="clair__nav-item-content" [routerLink]="['/dashboard']">
    <span><md-icon>device_hub</md-icon></span> Dashboard
  </div>
  </div>
</div>

  <div class="clair__sidemenu-heading">
    Hello
  </div>

  <div class="clair__sidenav-button-group">
    <nav class="nav-items">
      <button md-button [routerLink]="['/containers']">Containers</button>
      <button md-button [routerLink]="['/registries']">Registries</button>
    </nav>
  </div>

<div class="clair__sidemenu-spacer">
</div>

<button class="clair__nav-expander">
  <md-icon>chevron_left</md-icon>
</button>
</div>
