<h2>Add Container</h2>
<form (submit)="onSubmit()" [formGroup]="newContainerForm" novalidate>
  <p>
    <md-input-container>
      <input mdInput placeholder="Image" formControlName="image">
    </md-input-container>
  </p>
  <p>
    <md-select placeholder="Registry" formControlName="registry">
      <md-option *ngFor="let registry of registries" [value]="registry.id">
        {{ registry.name }}
      </md-option>
    </md-select>
  </p>
  <p class="clair__modal-buttons">
  <button type="button" (click)="close()" md-raised-button>Cancel</button>
  <button type="submit" color="primary" md-raised-button>Save</button>
  </p>
</form>
