<h2>New Registry</h2>
<form (submit)="onSubmit()" [formGroup]="newRegistryForm" novalidate>
  <p>
    <mat-input-container>
      <input matInput placeholder="Name" formControlName="name">
    </mat-input-container>
  </p>
  <p>
  <mat-input-container>
    <input matInput placeholder="Description" formControlName="description">
  </mat-input-container>
  </p>
  <p>
  <mat-input-container>
    <input matInput placeholder="Uri" formControlName="uri">
  </mat-input-container>
  </p>
  <p>
  <mat-input-container>
    <input matInput placeholder="Username" formControlName="username">
  </mat-input-container>
  </p>
  <p>
  <mat-input-container>
    <input matInput placeholder="Password" formControlName="password">
  </mat-input-container>
  </p>
  <p class="clair__modal-buttons">
  <button type="button" (click)="close()" mat-raised-button>Cancel</button>
  <button type="submit" color="primary" mat-raised-button>Save</button>
  </p>
</form>
