<h2>Add Container</h2>
<form (submit)="onSubmit()" [formGroup]="newContainerForm" novalidate>
  <p>
    <mat-input-container>
      <input matInput placeholder="Image" formControlName="image">
    </mat-input-container>
  </p>
  <p>
    <mat-select placeholder="Registry" formControlName="registry">
      <mat-option *ngFor="let registry of registries" [value]="registry.id">
        {{ registry.name }}
      </mat-option>
    </mat-select>
  </p>
  <p class="clair__modal-buttons">
  <button type="button" (click)="close()" mat-raised-button>Cancel</button>
  <button type="submit" color="primary" mat-raised-button>Save</button>
  </p>
</form>
